<h3>Execution Log</h3>
<div style="width:700px; margin: 50px auto;" class="border p-3">
  <div class="container">
    <%= render "tab_view" %>
    <div class="row "style="color:blue;>
        <pre id="log-report"><%= @console_log%> </pre>
    </div>
  </div>
</div>
