<h3>Execution Log</h3>
<div style="width:700px; margin: 50px auto;" class="border p-3">
  <div class="container">
    <%= render "tab_view" %>
    <div class="row" style="color:orange;>
        <pre id="log-report"><%= @warning_log%> </pre>
    </div>
  </div>
</div>