
<h1 style="text-align:center;">Welcome to EZDC IP TOOL Integration App</h1>
<div style="text-align:center">
    <%= image_tag("ezdc_logo.jpg")%>
</div>
<div style="text-align:center">
    <%= button_tag("Please Click Here to Continue")%>
</div>